kiwipiepy
pymupdf
pillow
numpy
paddlepaddle
paddleocr
markdown-it-py
requests
sentence-transformers
qdrant-client
fastapi
uvicorn
ollama
python-dotenv
sqlalchemy
pymysql
selenium
pandas
openpyxl
matplotlib
seaborn
python-multipart
xlsxwriter
